@media screen and (max-width: 850px) {
    .standard-box{
        display: flex;
        flex-direction: column;
    }
}

body{
    background-color: #C5C1C0;
    font-family:'Arial';
    margin: 5%;
}

.container{
    background-color: #FFFFFF;
    text-align: center;
    padding: 3%;
    border-radius: 0.5rem;
}

h1{
    font-weight: normal;
}

.imgHome{
    height: 50%;
    width: 99%;
    border-radius: 0.2rem;
}

.imgPratos{
    width: 200px;
    padding: 0px 8px 0px 8px;
    border-radius: 0.5rem;
}

.standard-box{
    display: flex;
    justify-content: center;
    border-radius: 0.5rem;
    box-shadow: 0px 15px 15px 0px rgba(0, 0, 0, 0.5);
    margin-bottom: 5rem;
}

.pratos{
    border-radius: 0.5rem;
    box-shadow: 0px 10px 15px -5px rgba(0, 0, 0, 0.5);
    margin: 20px;
}

#dadosFinal{
    text-align: left;
    margin-top: 3rem;
}

.nomeDoPrato{
    margin-top: -2px;
    margin-bottom: -1px;
}

.minus, .plus{
    border: none;
    margin: 10px 10px 15px;
    width: 20px;
    height: 15px;
}


.display{
    background-color: #197931;
    width: 20px;
    height: 15px;
    text-align: center;
}

.preco{
    color: #197931;
    font-weight: bold;
}

.dados{
    border-radius: 0.5rem;
    box-shadow: 0px 15px 15px 0px rgba(0, 0, 0, 0.5);
    margin-bottom: 1rem;
}

input{
    border: none;
    height: 2rem;
    width: 90%;
    margin-bottom: 10px;
    font-size: 15px;
    box-shadow: -1px 5px 5px 0px rgba(0, 0, 0, 0.3);
}

.buttonCalc{
    background-color:#0069D9 ;
    border: none;
    color: #FFFFFF;
    height: 3rem;
    width: 100%;
    border-radius: 0.2rem;
    font-size: 1.2rem;
    box-shadow: -1px 5px 5px 0px rgba(0, 0, 0, 0.3);
}

button:hover{
    cursor: pointer;
}

/* -- quantity box -- */

.quantity {
    display: inline-block; }
   
   .quantity .input-text.qty {
    width: 35px;
    height: 39px;
    padding: 0 5px;
    text-align: center;
    background-color: transparent;
    border: 1px solid #efefef;
   }
   
   .quantity.buttons_added {
    text-align: left;
    position: relative;
    white-space: nowrap;
    vertical-align: top; 
}
   
   .quantity.buttons_added input {
    display: inline-block;
    margin: 0;
    vertical-align: top;
    box-shadow: none;
   }
   
   .quantity.buttons_added .minus,
   .quantity.buttons_added .plus {
    padding: 7px 10px 8px;
    height: 41px;
    background-color: #ffffff;
    border: 1px solid #efefef;
    cursor:pointer;}
   
   .quantity.buttons_added .minus {
    border-right: 0; }
   
   .quantity.buttons_added .plus {
    border-left: 0; }
   
   .quantity.buttons_added .minus:hover,
   .quantity.buttons_added .plus:hover {
    background: #eeeeee; }
   
   .quantity input::-webkit-outer-spin-button,
   .quantity input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    -moz-appearance: none;
    margin: 0; }
    
    .quantity.buttons_added .minus:focus,
   .quantity.buttons_added .plus:focus {
    outline: none; }
   
   


